var should = require('should');
var <%= name %>Controller = require('../../../api/controllers/<%= name %>Controller');

describe('controllers:UrlController', function(){
  it('Should be tested', function(){
    should.exist(<%= name %>Controller);
  });
});
